<template>
	<div class="container">
		<table>
			<thead>
				<th></th>
				<th>Unselected</th>
				<th>Selected</th>
			</thead>
			<tbody>
				<tr>
					<td>Default</td>
					<td>
						<vmq-radio
							v-model="radio1"
							:list="[
								{ value: 'yes', title: 'Yes' },
								{ value: 'no', title: 'No' }
							]"
						/>
					</td>
					<td>
						<vmq-radio
							v-model="radio2"
							:list="[
								{ value: 'yes', title: 'Yes' },
								{ value: 'no', title: 'No' }
							]"
						/>
					</td>
				</tr>
				<tr>
					<td>Focus</td>
					<td>
						<vmq-radio
							v-model="radio3"
							:list="[
								{ value: 'yes', title: 'Yes' },
								{ value: 'no', title: 'No' }
							]"
						/>
					</td>
					<td>
						<vmq-radio
							v-model="radio4"
							:list="[
								{ value: 'yes', title: 'Yes' },
								{ value: 'no', title: 'No' }
							]"
						/>
					</td>
				</tr>
				<tr>
					<td>Disabled</td>
					<td>
						<vmq-radio
							v-model="radio5"
							:list="[
								{ value: 'yes', title: 'Yes', disabled: true },
								{ value: 'no', title: 'No', disabled: true }
							]"
						/>
					</td>
					<td>
						<vmq-radio
							v-model="radio6"
							:list="[
								{ value: 'yes', title: 'Yes', disabled: true },
								{ value: 'no', title: 'No', disabled: true }
							]"
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import VmqRadio from "../Radio.vue";

export default {
	components: {
		VmqRadio
	},

	data() {
		return {
			radio1: null,
			radio2: "yes",
			radio3: null,
			radio4: "yes",
			radio5: null,
			radio6: "yes"
		};
	}
};
</script>

<style lang="scss" scoped>
.container {
	font-family: 'Kanit', sans-serif;
	font-weight: 200;

	table {
		width: 100%;

		th, td {
			text-align: center;
		}

		td {
			&:first-of-type {
				text-align: right;
			}
		}
	}
}
</style>