<template>
	<div :class="['vmq-radio-container', ...wrapperClass]" v-click-outside="onClickOutside">
		<ul class="vmq-radio-container-list">
			<li
				v-for="{ id, value: inputValue, disabled, title } in filterList"
				:key="id"
				:ref="`container-${id}`"
				:class="[
					'vmq-radio-container-item',
					{ 'is-focus': focusedAt === id },
					{ 'is-disabled': !!disabled },
					{ 'is-checked': inputValue === value }
				]
				"
				@click="handleRadioClick(id)"
			>
				<span class="vmq-radio-container-item-radio"></span>
				<label>
					<input
						type="radio"
						:value="inputValue"
						:checked="inputValue === value"
						:disabled="disabled"
						@change="handleSelect"
					>
					<span>
						{{ title }}
					</span>
				</label>
			</li>
		</ul>
	</div>
</template>

<script>
import vClickOutside from "v-click-outside";

export default {
	name: "Radio",

	directives: {
		clickOutside: vClickOutside.directive
	},

	props: {
		containerClass: {
			type: String,
			default: ""
		},

		list: {
			type: Array,
			default: () => []
		},

		value: {
			type: String,
			default: null
		}
	},

	data() {
		return {
			filterList: [],
			focusedAt: null
		};
	},

	computed: {
		wrapperClass() {
			return [
				this.containerClass
			];
		}
	},
	mounted() {
		this.filterList = this.list.map((obj) => {
			return {
				...obj,
				id: obj.value
			};
		});

		window.addEventListener("keydown", this.handleDown);
	},

	methods: {
		handleRadioClick(id) {
			const radio = this.filterList
				.find((item) => (
					item.id === id
				));

			if (radio && !radio.disabled) {
				this.focusedAt = id;
			}
		},

		handleSelect(e) {
			this.$emit("input", e.target.value);

			if (this.value !== e.target.value) {
				this.$emit("change", e.target.value);
			}
		},

		handleDown(e) {
			if (!this.focusedAt) {
				return;
			}

			const itemIndex = this.filterList.findIndex(({ id }) => id === this.focusedAt);
			const lastIndex = this.filterList.length - 1;
			const nextIndex = itemIndex + 1;
			const prevIndex = itemIndex - 1;
			const KEY = {
				ArrowUp: false,
				ArrowDown: false,
				ArrowLeft: false,
				ArrowRight: false,
				Enter: false
			};
			let item = null;

			KEY[e.key] = true;

			if (KEY.ArrowRight || KEY.ArrowDown) {
				if (itemIndex < lastIndex) {
					item = this.filterList[nextIndex];
				} else {
					item = this.filterList[0];
				}
			} else if (KEY.ArrowLeft || KEY.ArrowUp) {
				if (itemIndex === 0) {
					item = this.filterList[lastIndex];
				} else {
					item = this.filterList[prevIndex];
				}
			}

			if (item) {
				this.focusedAt = item.id;
				this.handleSelect({
					target: {
						value: item.value
					}
				});
			}
		},

		// when user click outside of the container
		onClickOutside() {
			this.focusedAt = null;
		}
	},

	destroyed() {
		window.removeEventListener("keydown", this.handleDown);
	}
};
</script>

<style lang="scss" scoped>
$color-scooter: #29b7c1;
$color-black-08: rgba(0, 0, 0, .08);
$color-black-16: rgba(0, 0, 0, .16);
$color-black-25: rgba(0, 0, 0, .25);
$border-width: 2px;
$border-checked-width: 6px;
$padding-label: 8px;

.vmq-radio-container {
	input {
		display: none;
	}

	label {
		position: relative;
		display: inline-flex;
		align-items: center;
		height: 100%;
		padding-left: calc(18px + #{$padding-label});
		font-size: 12px;
		letter-spacing: 0.2px;
		cursor: pointer;
	}

	label span:empty {
		padding-left: 18px;
	}

	// .vmq-radio-container-list
	&-list {
		display: inline-flex;
		margin: 0 -16px;
	}

	// .vmq-radio-container-item
	&-item {
		position: relative;
		display: inline-flex;
		align-items: center;
		margin: 0 16px;

		&-radio {
			position: relative;
			width: 18px;
			height: 18px;
			margin-right: -18px;
			box-shadow: inset 0 0 0 $border-width $color-black-25;
			border-radius: 50%;
			transition: box-shadow 80ms ease;

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: .2;
				border-radius: 50%;
				box-shadow: 0 0 0 3px var(--vmq-radio-color, $color-scooter);
				box-sizing: border-box;
				visibility: hidden;
			}
		}
	}

	&-item.is-checked > &-item-radio {
		box-shadow: inset 0 0 0 $border-checked-width var(--vmq-radio-color, $color-scooter);
	}

	&-item.is-disabled > label {
		opacity: .15;
	}

	&-item.is-disabled > &-item-radio {
		box-shadow: inset 0 0 0 $border-checked-width $color-black-16;
	}

	&-item.is-disabled:not(.is-checked) > &-item-radio {
		box-shadow: inset 0 0 0 $border-width $color-black-08;
	}

	&-item.is-focus > &-item-radio::after {
		visibility: visible;
	}
}
</style>